/* background-image: linear-gradient(to right, #868f96 0%, #596164 100%); */
.maindiv {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 100vh;
  width: 0;
}

button {
  margin: 15px !important;
  /* border: 2px solid white !important; */
  /* background-color: rgba(255, 255, 255, 0.2) !important; */
}

button > i {
  /* color: rgba(255, 255, 255, 0.7); */
  font-size: 30px;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
  margin: 50px;
  color: white;
  font-size: xx-large;
  font-weight: bold;
  display: none;
}

body > div > ul > li > a {
  text-decoration: none;
  color: white;
}

body > div > ul > li > a:hover {
  border: 4px solid white;
  padding: 10px 30px;
  border-radius: 4px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
